<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
   div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
html {
  scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 2px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

    </style>

<body >
<button class="w3-hover-opacity w3-teal" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Top</button>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-collapse" style="display:none;left:0;width: 300px;" id="leftMenu">
  <!-- <button onclick="closeLeftMenu()" class="w3-bar-item w3-button  w3-hide-large">Close &times;</button> -->
  
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="closeLeftMenu()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3> <i class="fa fa-filter" aria-hidden="true"></i> Filters</h3>
    <hr>
    <form action="/action_page.php" target="_blank">
      <p><label><i class="fa fa-calendar-check-o"></i> From</label></p>
      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required>          
      <p><label><i class="fa fa-calendar-o"></i> To</label></p>
      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required>         
      <p><label><i class="fa fa-bitcoin"></i> Min Energy Tokens</label></p>
      <input class="w3-input w3-border" type="number" value="1" name="Adults" min="1">              
      <p><label><i class="fa fa-bitcoin"></i> Max Energy Tokens</label></p>
      <input class="w3-input w3-border" type="number" name="Kids" min="1">
      <p><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button></p>
    </form>
  </div>
  




</div>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-right w3-collapse" style="display:none;right:0; width: 300px;" id="rightMenu">
  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-hide-large">Close &times;</button>
  <div class="w3-row">
  <!-- Left Column -->
  <div class="">
    <!-- Profile -->
    <div class=" w3-round w3-white">
      <div class="w3-container">
       <h4 class="w3-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Profile</h4>
       <p class="w3-center"><img src="/images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
       <hr>
       <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
       <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
       <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
      </div>
    </div>
    <br>
    <hr>
    <!-- Accordion -->
    <div class=" w3-round">
      <div class="w3-white">
        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
        <div id="Demo1" class="w3-hide w3-container">
          <p>Some text..</p>
        </div>
        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
        <div id="Demo2" class="w3-hide w3-container">
          <p>Some other text..</p>
        </div>
        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
        <div id="Demo3" class="w3-hide w3-container">
       <div class="w3-row-padding">
       <br>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
         <div class="w3-half">
           <img src="/images/avatar3.png" style="width:100%" class="w3-margin-bottom">
         </div>
       </div>
        </div>
      </div>      
    </div>
    <br>
    <hr>
    <!-- Interests --> 
    <div class=" w3-round w3-white w3-hide-small">
      <div class="w3-container">
        <p>Interests</p>
        <p>
          <span class="w3-tag w3-small w3-theme-d5">News</span>
          <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
          <span class="w3-tag w3-small w3-theme-d3">Labels</span>
          <span class="w3-tag w3-small w3-theme-d2">Games</span>
          <span class="w3-tag w3-small w3-theme-d1">Friends</span>
          <span class="w3-tag w3-small w3-theme">Games</span>
          <span class="w3-tag w3-small w3-theme-l1">Friends</span>
          <span class="w3-tag w3-small w3-theme-l2">Food</span>
          <span class="w3-tag w3-small w3-theme-l3">Design</span>
          <span class="w3-tag w3-small w3-theme-l4">Art</span>
          <span class="w3-tag w3-small w3-theme-l5">Photos</span>
        </p>
      </div>
    </div>
    <br>
    
    <!-- Alert Box -->
    <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
        <i class="fa fa-remove"></i>
      </span>
      <p><strong>Hey!</strong></p>
      <p>People are looking at your profile. Find out who.</p>
    </div>
  
  <!-- End Left Column -->
  </div>

</div>


</div>

<div class="w3-main w3-animate-opacity" style="margin-left: 300px; margin-right: 300px;">
    <div class="w3-teal w3-blue sticky">
        <button class="w3-button w3-teal w3-xlarge w3-left  w3-hide-large" onclick="openLeftMenu()">&#9776;</button>
        <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large" onclick="openRightMenu()">&#9776;</button>
        <div class="w3-container ">
            <h1>Smart Energy</h1>
        </div>
    </div>

    <div class="w3-container">



      <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
          <div class="w3-container w3-card w3-white w3-round "><br>
            <img src="/images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">1 min</span>
            <h4>John Doe</h4><br>
            <hr class="w3-clear">
            
                <p>Energy at affordable price</p>
               
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-col m2 w3-green w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-red w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-blue w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-dark-grey w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-black w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-purple w3-center">
                  <p>m2</p>
                </div>
            </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
          </div>
        </div>
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
          <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
      </div>
    



      <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
          <div class="w3-container w3-card w3-white w3-round "><br>
            <img src="/images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">1 min</span>
            <h4>John Doe</h4><br>
            <hr class="w3-clear">
          
                <p>Energy at affordable price</p>
              
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-col m2 w3-green w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-red w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-blue w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-dark-grey w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-black w3-center">
                  <p>m2</p>
                </div>
                <div class="w3-col m2 w3-purple w3-center">
                  <p>m2</p>
                </div>
            </div>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
          </div>
        </div>
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
          <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
      </div>











      
    </div>
</div>
<script type="text/javascript" src="js/double_menu.js"> </script>


<script>
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>



</body>
</html>
